html, body{
    padding: 0;
    margin: 0;

}

.mainHeader h2{
    text-align: left;
    font-family: "Klavika Medium Condensed",Arial,sans-serif;
    font-size: 40px;
    color: white;
    background-color: #273033;
    background-size: 100px;
    line-height: 2.5;
    margin-top: 0;
    font-style: italic;
}

.mainHeader img{
    float:right;
    width: 100;
    height: 100px;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10;
    overflow: hidden;
    background-color: darkred;
    line-height: 2.5;
    background-size: 100px;
}

.navigation li { 
    float: left;

}

.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Klavika Medium Condensed",Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
}

.subHeader{
    color: red;
    font-family: "Noto Sans",sans-serif;
}
